[alias]
    br = branch -v
    ci = commit -v
    co = checkout
    cp = cherry-pick
    fp = format-patch
    last = log -1 -p --stat HEAD
    lg = log --graph --date="format:'%A %Y-%m-%d %H:%M'" --pretty=tformat:'%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen[%an %ar (%ad)]%Creset'
    rb = rebase -i
    rba = rebase -i --autosquash
    mt = mergetool
    st = status
    rdiff = !git diff $(git for-each-ref --format='%(upstream:short)' $(git symbolic-ref -q HEAD)) HEAD
    wdiff = !git diff --word-diff
    wt = worktree
    subup = !git submodule sync && git submodule update --recursive --init
[branch]
    autosetupmerge = always
    autosetuprebase = always
[color]
    interactive = auto
    ui = true
[color "branch"]
    upstream = cyan
[core]
    editor = vim
    excludesfile = ~/.gitignore
    pager = diff-so-fancy | less --tabs=4 --RAW-CONTROL-CHARS -+X -+F
    whitespace = -trailing-space
[diff]
    mnemonicPrefix = true
    renames = true
    wordRegex = .
[fetch]
    recurseSubmodules = on-demand
    prune = true
[grep]
    extendedRegexp = true
[log]
    # abbrevCommit = true
    decorate = short
    date = iso
[merge]
    conflictStyle = diff3
    tool = vimdiff
[mergetool]
    keepBackup = false
    keepTemporaries = false
    prompt = false
[pager]
    diff = true
    status = false
    branch = false
    config = false
[pull]
    rebase = true
    # Only available starting from 1.8.5
    # rebase = preserve
[push]
    default = tracking
[rerere]
    # autoupdate = true
    # enabled = true
[status]
    showUntrackedFiles = all
    submoduleSummary = true
[tag]
    sort = version:refname
[color "diff-highlight"]
    oldnormal = 160
    oldhighlight = 181 88
    newnormal = 34
    newhighlight = 157 22
[color "diff"]
    meta = magenta bold
    frag = 146 bold
    func = magenta
    commit = yellow bold
    old = 160
    new = 34
    whitespace = red reverse
[diff-so-fancy]
    markEmptyLines = false
    changeHunkIndicators = true
    stripLeadingSymbols = true
    useUnicodeRuler = false
    rulerWidth =
[include]
    # Set there a [user] section for instance, or machine specific config
    path=~/.gitconfig.local
